<section class="calltoaction">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <h2 class="wow slideInRight" data-wow-delay=".1s">WANT TO BUILD SOMETHING TOGETHER?</h2>
        <div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
          I'm open for new and cool ideas.
        </div>
      </div>
      <div class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight" data-wow-delay=".3s">
        <a href="#contact" class="btn btn-lg">Get in touch</a>
      </div>
    </div>
  </div>
</section>