<section id="services" class="pfblock pfblock-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="pfblock-header wow fadeInUp">
          <h2 class="pfblock-title">This is what I do</h2>
          <div class="pfblock-line"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="iconbox wow slideInLeft">
          <div class="iconbox-icon">
            <span class="icon-magic-wand"></span>
          </div>
          <div class="iconbox-text">
            <h3 class="iconbox-title">Web Design</h3>
            <div class="iconbox-desc">
              Good things come to those who wait, but only the things left by those who hustle
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="iconbox wow slideInLeft">
          <div class="iconbox-icon">
            <span class="icon-puzzle"></span>
          </div>
          <div class="iconbox-text">
            <h3 class="iconbox-title">Web Programming</h3>
            <div class="iconbox-desc">
              Good things come to those who wait, but only the things left by those who hustle
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="iconbox wow slideInRight">
          <div class="iconbox-icon">
            <span class="icon-badge"></span>
          </div>
          <div class="iconbox-text">
            <h3 class="iconbox-title">Branding</h3>
            <div class="iconbox-desc">
              Good things come to those who wait, but only the things left by those who hustle
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="iconbox wow slideInRight">
          <div class="iconbox-icon">
            <span class="icon-question"></span>
          </div>
          <div class="iconbox-text">
            <h3 class="iconbox-title">Consultation</h3>
            <div class="iconbox-desc">
              Good things come to those who wait, but only the things left by those who hustle
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>