<section id="testimonials" class="pfblock pfblock-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="pfblock-header wow fadeInUp">
          <h2 class="pfblock-title">What my clients say</h2>
          <div class="pfblock-line"></div>
          <div class="pfblock-subtitle">
            No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="cbp-qtrotator" class="cbp-qtrotator">
        <div class="cbp-qtcontent">
          <%= image_tag('client-1.jpg') %>
          <blockquote>
            <p>Work with John was a pleasure. He understood exactly what I wanted and created an awesome site for my company.</p>
            <footer>Pino Caruso</footer>
          </blockquote>
        </div>
        <div class="cbp-qtcontent">
          <%= image_tag('client-2.jpg') %>
          <blockquote>
            <p>I'm really happy with the results. Get 100% satisfaction is difficult but Alex got it without problems.</p>
            <footer>Jane Doe</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>